@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,400");

.my-sidebar {
    margin-top: 0;
}

.icon-coffee {
    color: white;
}

.txtbox-space {
    padding-right:10em;
}

.txtbox2-space {
    padding-right:12.5em;
}

.txtbox3-space {
    padding-right:11em;
}

.txtbox4-space {
    padding-right:7.5em;
}

.txtbox5-space {
    padding-right:2em;
}

.txtbox6-space {
    padding-right:2.5em;
}

.txtbox7-space {
    padding-right:10.25em;
}

#navbar-logo {
    height: 35px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    background: inherit;
}

.jumbotron h1{
    color: white;
    text-align: center;
}

.navbar-inverse {
    margin-bottom: 0;
    margin-top: 0;
    background-color: black;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-menu li a {
    color: white;
}

.body-background {
    background-color: black;
}

.body-image {
    background-image: url(/images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-color: black;
}

.thumbnail {
    background-color: tan;
}

.btn-thumb {
    background-color: black;
}

#nav-text {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 0em;
}

.navbar-right {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    font-size: 20px;
}

p {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}

.advertise1 {
    color: white;
    text-align: center;
    margin-top: 5em;
}

.btn-merry {
    background-color: black;
    border-color: white;
    border-width: 2px;
    font-size: 16px;
    margin-top: 1em;
}

.panel-default {
    background-color: black;
    border: none;
}

.my-section {
    margin-top: 0;
    text-align: left;
    color: white;
    text-align: center;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
    background-color: inherit;
}

#logmodal {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}

.modal-body {
    background-color: black;
    font-size: x-large;
    text-align: center;
}

.modal-header {
    background-color: black;
}

.modal-footer {
    background-color: black;
    text-align: center;
}

#regmodal {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}