#green{
    margin-right: 50%;
    padding-right: 50px; 


}

#coffeemod{

    float:left;
}



#pic{

    background-image:url(https://www.lavu.com/perch/resources/lavu-how-it-works-1-1.jpgf);

}

#bigger{

    font-size: 30px;
}


#bigger2{

    font-size: 35px;
}