<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="GITPushersConnectionString" connectionString="Data Source=mimas.itds.unt.edu;Initial Catalog=GITPushers;Persist Security Info=True;User ID=ECUser;Password=10nrszMoc1"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms name="Example1Cookie" loginUrl="login.aspx" defaultUrl="welcome.aspx" path="/" slidingExpiration="true"/>
      </authentication>

    </system.web>

</configuration>
